#title{
	font-family: 'Major Mono Display', monospace;
	text-align: center;
	margin-top: 2em;
	margin-bottom: 2em;
	color:#B2A753;
	font-weight: bold;
	font-size: 4em;
}
.link{
	color:#4C4BD3;
}
#develloper{
	widows: 20em;
	height: 20em;
	display:block;
margin:auto;
}
body{
	background-color:#CEC4FF;
	font-family: 'Noticia Text', serif;
}
#fondo{
	max-width: 100%;
}
#logo{
	max-width: 100%;
}

.nav{
	font-size: 3em;
}
nav a{
	margin-left: 1em;
	color:black;
}

nav a:hover{
	background-color: white;
}

